<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/img/logo/spiderman.svg" type="image/x-icon">
    <title>Spider Man</title>
</head>

<body>
    <header>
        <!-- LOGO -->
        <div class="div-Logo">
            <img src="/img/logo/movie.png" alt="">
            <h3>𝐒𝐏𝐈𝐃𝐄𝐑 𝐌𝐀𝐍</h3>
        </div>

        <!-- NAVBAR AND LINKS -->
        <nav class="menu">
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="menu-items">
                <a class="active" href="https://youtu.be/89r8LXKnZs4?si=RML_f5ApVmntTPX0">𝐓𝐑𝐀𝐈𝐋𝐄𝐑</a>
                <a href="#">𝐂𝐇𝐀𝐑𝐀𝐂𝐓𝐄𝐑𝐄𝐒</a>
                <a href="#">𝐒𝐔𝐌𝐌𝐀𝐑𝐘</a>
                <a href="#spider-scroll">𝐈𝐍𝐅𝐎</a>
            </div>
        </nav>

    </header>

    <!-- CONTAINER -->
    <div class="container">

        <!-- FONT CONTAINER -->
        <div class="font">
            <h1>𝕊ℙ𝕀𝔻𝔼ℝ 𝕄𝔸ℕ</h1>
            <br>
            <p>𝐓𝐡𝐞 𝐇𝐨𝐦𝐞-𝐀𝐫𝐚𝐧𝐡𝐚, 𝐚𝐥𝐭𝐞𝐫 𝐞𝐠𝐨 𝐨𝐟 𝐏𝐞𝐭𝐞𝐫 𝐏𝐚𝐫𝐤𝐞𝐫, 𝐢𝐬 𝐨𝐧𝐞 𝐨𝐟 𝐭𝐡𝐞
                𝐦𝐨𝐬𝐭 𝐟𝐚𝐦𝐨𝐮𝐬 𝐦𝐞𝐦𝐛𝐞𝐫𝐬 𝐨𝐟 𝐭𝐡𝐞 𝐌𝐚𝐫𝐯𝐞𝐥 𝐂𝐨𝐦𝐢𝐜𝐬. 𝐊𝐧𝐨𝐰𝐧 𝐟𝐨𝐫 𝐡𝐢𝐬
                𝐚𝐫𝐚𝐜𝐡𝐧𝐢𝐝-𝐥𝐢𝐤𝐞 𝐚𝐛𝐢𝐥𝐢𝐭𝐢𝐞𝐬, 𝐢𝐧𝐜𝐥𝐮𝐝𝐢𝐧𝐠 𝐬𝐮𝐩𝐞𝐫𝐡𝐮𝐦𝐚𝐧 𝐬𝐭𝐫𝐞𝐧𝐠𝐭𝐡,
                𝐚𝐠𝐢𝐥𝐢𝐭𝐲, 𝐚𝐧𝐝 𝐞𝐱𝐭𝐫𝐚𝐨𝐫𝐝𝐢𝐧𝐚𝐫𝐲 𝐬𝐞𝐧𝐬𝐞𝐬, 𝐢𝐧𝐜𝐥𝐮𝐝𝐢𝐧𝐠 𝐟𝐨𝐫𝐞𝐬𝐢𝐠𝐡𝐭
                𝐚𝐧𝐝 𝐫𝐚𝐝𝐚𝐫𝐥𝐢𝐤𝐞 𝐬𝐞𝐧𝐬𝐢𝐭𝐢𝐯𝐢𝐭𝐲, 𝐢𝐧 𝐚𝐝𝐝𝐢𝐭𝐢𝐨𝐧 𝐭𝐨
                𝐬𝐩𝐢𝐝𝐞𝐫-𝐡𝐮𝐦𝐚𝐧𝐢𝐭𝐲, 𝐚𝐠𝐢𝐥𝐢𝐭𝐲, 𝐚𝐧𝐝 𝐚 𝐜𝐚𝐩𝐚𝐜𝐢𝐭𝐲 𝐨𝐟 𝐩𝐫𝐞𝐜𝐨𝐠𝐧𝐢𝐭𝐢𝐨𝐧
                𝐚𝐧𝐝 𝐚 𝐜𝐚𝐩𝐚𝐜𝐢𝐭𝐲 𝐨𝐟 𝐝𝐞𝐜𝐢𝐬𝐢𝐯𝐞𝐧𝐞𝐬𝐬. 𝐓𝐨𝐠𝐞𝐭𝐡𝐞𝐫 𝐰𝐢𝐭𝐡 𝐜𝐫𝐢𝐦𝐞 𝐢𝐧
                𝐍𝐞𝐰 𝐘𝐨𝐫𝐤 𝐂𝐢𝐭𝐲, 𝐒𝐩𝐢𝐝𝐞𝐫-𝐌𝐚𝐧 𝐚𝐧𝐝 𝐭𝐡𝐞 𝐇𝐨𝐦𝐞-𝐀𝐫𝐚𝐧𝐡𝐚 𝐚𝐫𝐞
                𝐜𝐨𝐧𝐬𝐢𝐝𝐞𝐫𝐞𝐝 𝐭𝐨 𝐛𝐞 𝐭𝐫𝐮𝐞 𝐝𝐢𝐬𝐭𝐢𝐧𝐜𝐭𝐢𝐯𝐞 𝐚𝐧𝐝 𝐬𝐮𝐚 𝐦𝐢𝐬𝐬𝐚𝐨 𝐝𝐞
                𝐩𝐫𝐨𝐭𝐞𝐠𝐞𝐫 𝐚 𝐜𝐢𝐝𝐚𝐝𝐞 𝐝𝐨𝐬 𝐯𝐢𝐥𝐨𝐞𝐬.</p>
        </div>

        <!-- SPACE IMG SPIDERMAN -->
        <div class="Spider-man">
            <img src="/img/img/hector-reyes-PXjQaGxi4JA-unsplash.jpg" alt="">
        </div>
    </div>

    <div id="spider-scroll" class="container">
        <div class="spider-scroll">
            <img id="spider-img" src="/img/img/pngegg.png" alt="">
        </div>

        <div class="info">
            <div class="info-type">
                <img id="logo-spiderman" src="/img/logo/Spiderman-Logo-1996.png" alt="">
                <p>
                    𝐍𝐨𝐰 𝐖𝐚𝐭𝐜𝐡 𝐚𝐥𝐥 𝐲𝐨𝐮𝐫 𝐟𝐚𝐯𝐨𝐫𝐢𝐭𝐞 𝐒𝐩𝐢𝐝𝐞𝐫𝐦𝐚𝐧 𝐬𝐞𝐫𝐢𝐞𝐬 𝐚𝐭 𝐨𝐧𝐞
                    𝐩𝐥𝐚𝐭𝐚𝐟𝐨𝐫𝐦.</p>

                <a href="https://youtu.be/2zMkhP1ljDU?si=T5MXu550WpvOWIY9"><img src="/img/icons/play_7476990.png"
                        alt="">
                    <h3>Start Watching</h3>
                </a>
            </div>
        </div>
        <div class="redes-sociais" >
            <a href="https://dribbble.com/Lucas3324k0"><img src="/img/icons/dribble.png" alt=""></a>
            <a href="https://www.instagram.com/lucas3324k0_ofc/"><img src="/img/icons/instagram.png" alt=""></a>
            <a href="https://www.linkedin.com/in/lucas-santos-8245aa248/"><img src="/img/icons/linkedin.png" alt=""></a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfsdbjWJskCpsTSQHsnWRHjglbWdKkDKsfZhHVMRSMMlpXDmngbMFxSbdrldJXZVwVncjB"><img src="/img/icons/email.png" alt=""></a>
            <a href="https://github.com/lucas3324k0"><img src="/img/icons/github.png" alt=""></a>
        </div>
    </div>




    <script src="script.js"></script>
</body>

</html>